.Header  {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #363636;

  padding: 2rem;
  border-top: 0.1rem solid #707070;
  border-bottom: 0.1rem solid #707070;

}